@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: local('Post No Bills Jaffna SemiBold'), url('../fonts/PostNoBillsJaffna-SemiBold.ttf'), format('ttf');
    font-weight: 600;
    font-style: normal;
}