@import'base/variables';
@import'base/mixins';
@import'base/global';
@import'base/reset';
* {
    font-family: 'BERNIER Regular';
}

@font-face {
    font-family: 'BERNIER Regular';
    src: url('../fonts/BERNIERRegular-Regular.eot');
    src: url('../fonts/BERNIERRegular-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BERNIERRegular-Regular.woff') format('woff'), url('../fonts/BERNIERRegular-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1240px;
    margin: 0 auto
}

.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}

@import'blocks/menu';
@import'blocks/promo';
@import'blocks/button';
@import'blocks/price';
@import'blocks/title';
@import'blocks/about';
@import'blocks/barbers';
@import'blocks/footer';
@import'blocks/services';
@import'blocks/gallery';
@import'blocks/contacts';
@import'blocks/media';