footer {
    min-height: 460px;
    padding: 90px 0 80px 0;
    background: #F8FDFE;
}

.footer {
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        align-items: center;
        &-title {
            margin-left: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #02012B;
        }
    }
    &__blocks {
        max-width: 329px;
        &-secret {
            display: none;
        }
        a {
            color: #555555;
            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        img {
            width: 16px;
            height: 16px;
        }
        &-flex {
            display: flex;
            gap: 8px;
        }
    }
    &__text {
        &-big {
            margin: 30px 0 40px 0;
        }
    }
    &__icons {
        display: flex;
        gap: 18px;
        img {
            &::hover {
                box-shadow: 0 0 2px #555555;
            }
        }
    }
    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #222222;
    }
}