.overlay {
    position: relative;
    z-index: 0;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    z-index: -1;
}

.main {
    min-height: 700px;
    background: url('../img/main.jpg') center center/cover no-repeat;
    padding: 165px 135px;
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        color: #FFFFFF;
        text-align: center;
    }
    &__text {
        width: 622px;
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }
    &__block {
        margin-top: 142px;
        &-button {
            padding: 23px;
            width: 259px;
            height: 70px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            &-secret {
                display: none;
            }
        }
        &-search {
            &--form {
                position: relative;
                width: 100%;
            }
        }
    }
}

.web__search {
    display: block;
    position: relative;
    width: 100%;
    height: 66px;
    padding: 0 180px 0 120px;
    border: 2px solid gray;
    outline: none;
    font-size: 20px;
    color: gray;
}

.icon-search {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 42px;
    height: 42px;
}

.button-search {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 18px;
    width: 160px;
    height: 44px;
    border-radius: 8px;
    background: $main-color;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
}