.about {
    min-height: 500px;
    background: url('../../img/about.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-top: 60px;
    &_items {
        margin-bottom: 50px;
    }
    &_title {
        font-size: 38px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_text {
        font-size: 18px;
        text-align: center;
    }
}